<div id="xayma-main" class="--xayma-main">
  <div class="--xayma-body">
    __xayma_action__

    <div class="--xayma-editor --xayma-close">
      <textarea
        class="xayma-textarea"
        placeholder="Racontez-nous votres expériences (facultatif)..."
      ></textarea>
    </div>

    <div class="--xayma-submit --xayma-close">
      <button class="--xayma-submit-button">Envoyer</button>
    </div>

    __xayma_login__
  </div>
  <div class="--xayma-foot">
    <small>by <strong>xayma</strong></small>
  </div>
  __xayma_saving__
</div>
