.--xayma-finish {
  padding: 40px;
  text-align: center;

  .--xayma-finish-icon {
    width: 64px;
    height: 64px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--xayma-yellow-color);
    }
  }

  .--xayma-finish-text {
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
}
