@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: 244, 54, 76;
$light-color: 255, 255, 255;
$dark-color: 0, 0, 0;
$shadow-color-var: 149, 157, 165;

:root {
  --xayma-primary-color: rgb(#{$primary-color});
  --xayma-light-color: rgb(#{$light-color});
  --xayma-dark-color: rgb(#{$dark-color});
  --border-color: rgba(#{$dark-color}, 0.1);

  --xayma-shadow-color-var: #{$shadow-color-var};
  --xayma-shadow-color: rgba(var(--xayma-shadow-color-var), 0.2);
  --xayma-shadow: var(--xayma-shadow-color) 0px 8px 24px;
}
